<phpunit colors="true"
	     bootstrap="vendor/autoload.php"
         cacheResultFile="vendor/.phpunit.result.cache">
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>./test/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/app/</directory>
            <exclude>
                <file>src/app/index.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
