<!DOCTYPE html>
<html lang="en">
<body>
{% if not flash('login') is empty %}
    <ul class="alert alert-danger">
        {% for msg in flash('login') %}
            <li>{{ msg }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% block content %}{% endblock %}
<footer>
    <p>
        Created by <a href="https://github.com/chadxz">Chad McElligott</a>,
        source code:
        <a href="https://github.com/chadxz/github-profile-php">
            chadxz/github-profile-php
        </a>.
</footer>
</body>
</html>
